{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@common",
    "(interface|type)",
    "module-definition",
    "module",
    "(service|provider|retriever|filter)",
    "controller",
    "constant",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
